body {
	margin: 0;
	padding: 0;
	width: 1920px;
	font-family: "PT Sans", sans-serif;
	line-height: 23px;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	color: #333333;
	background-color: #ffffff;
}

.page-header {
	height: 750px;
}

.header-top {
	height: 110px;
	width: 1296px;
	padding-bottom: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 312px;
}

.header-logo {
	width: 180px;
	height: 30px;
}

.condition-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-nav li {
	display: inline-block;
	vertical-align: top;
	margin-right: 30px;
}

.main-nav li:last-child {
	margin-right: 0;
}

.main-nav li a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	font-family: "PT Sans", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	color: #000000;
}

.search-area {
	width: 150px;
	border: 1px solid transparent;
	border-bottom-color: rgba(51, 51, 51, 0.2);
}


.header-bottom {
	position: relative;
	height: 750px;
	background: url("img/Rectangle 23.png") no-repeat 50% 50%;
	background-size: cover;
	color: #ffffff;
}

.header-bottom .header-title {
	margin: 0;
}

.header-bottom-left {
	position: absolute;
	top: 180px;
	left: 312px;
	width: 526px;
	height: 336px;
}

.header-bottom-left .header-title{
	font-family: "PT Sans", sans-serif;
	font-weight: 700;
	font-size: 50px;
	line-height: 70px;
}

.header-bottom-left .title-tip {
	width: 322px;
	font-family: "PT Sans", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 22.4px;
	color: #ffffff;
}

.header-bottom-left .company-about {
	font-weight: 700;
	font-size: 16px;
	line-height: 22.4px;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
}

.header-bottom-left .header-title {
	padding: 0;
	margin: 0;
}

.main-service-list {
	position: absolute;
	display: grid;
	top: 113px;
	right: 312px;
	grid-template-columns: 306px 306px;
	grid-template-rows: 250px 250px;
	gap: 24px;  
	margin-left: 972px;

}

.main-service-list  .service {
	padding: 30px 35px;
	border-radius: 20px;
	font-weight: 700;
	color: #ffffff;
	background-color: #5db7de;
}

.main-service-list  .service h3 {
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 18.2px;
	text-transform: uppercase;
}

.main-service-list  .service p {
	margin: 0;
	font-size: 19px;
	line-height: 26.6px;
}

.main-service-list .service-1 {
	grid-column: 1/2;
	grid-row: 1/2;
}

.main-service-list .service-2 {
	grid-column: 2/3;
	grid-row: 1/2;
}

.main-service-list .service-3 {
	grid-column: 1/2;
	grid-row: 2/3;
}

.main-service-list .service-4 {
	grid-column: 2/3;
	grid-row: 2/3;
}



.main-service-list li a {
	text-decoration: none;
	color: #ffffff;
}




/* header ends */
.main-service {
	position: relative;
	padding-bottom: 118px;
	width: 1296px;
	height: 717px;
	margin-left: 312px;
	margin-top: 150px;
}

.service-left-part {
	width: 306px;
	height: 333px;
	padding-top: 118px;
}

.service-right-part {
	position: absolute;
	top: 118px;
	right: 0;
}

.main-service h2 {
	margin: 0;
}

.price-and-conditions a {
	color: #3d348b;
	text-decoration: underline dotted;
}

.service-list {
	display: grid;
	width: 856px;
	grid-template-columns: 416px 416px;
	grid-template-rows: 223px 223px 223px;
	gap: 24px;
}

.service-list li {
	padding: 30px 35px;
	border-radius: 20px;
	background-color: #3d348b;
}

.service-list-1 {
	grid-column: 1/2;
	grid-row: 1/2;
}

.service-list-2 {
	grid-column: 2/2;
	grid-row: 1/2;
}

.service-list-3 {
	grid-column: 1/2;
	grid-row: 2/3;
}

.service-list-4 {
	grid-column: 2/2;
	grid-row: 2/3;
}

.service-list-5 {
	grid-column: 1/2;
	grid-row: 3/4;
}

.service-list-6 {
	grid-column: 2/2;
	grid-row: 3/4;
}

.service-list a {
	text-decoration: none;
	color: #ffffff;
}

/* main-service ends */

.company-about-full {
	margin-top: 118px;
	position: relative;
	height: 876px;
	background-color: rgba(61, 52, 139, 0.05);
}

.company-about-full-left {
	padding-top: 100px;
	width: 636px;
	margin-left: 312px;
}

.company-about-full-left h2 {
	padding: 0;
	margin: 0;
}

.company-about-full-right {
	position: absolute;
	display: grid;
	top: 100px;
	right: 312px;
	width: 526;
	grid-template-columns: 526px;
	grid-template-rows: 350px 170px;
	gap: 38px;
}

.video-link {
	grid-column: 1/2;
	grid-row: 1/2;
}

.service-canculator {
	grid-column: 1/2;
	grid-row: 2/3;
	font-size: 13px;
	font-weight: 700;
	line-height: 18.2px;
	border-radius: 20px;
	background-color: #5db7de;
	text-decoration: none;
	color: #ffffff;
}

/* company-about ends */
.company-news {
	margin-top: 150px;
	height: 590px;
	border: 1px solid orange;
}


.company-news h2 {
	margin: 0;
	padding: 0;
}

.news-container {
	position: relative;
	margin-top: 116px;
	height: 371px;
	width: 1296px;
	margin-left: 312px;
	border: 1px solid green;
}


.news-list {
	position: absolute;
	display: grid;
	top: 0;
	left: 0;
	width: 1296px;
	grid-template-columns: 306px 306px 306px 306px;
	grid-template-rows: auto; 
	gap: 25px;
	border: 1px solid red;
}

.news-1 {
	grid-column: 1/2;
	grid-row: 1/2;
}

.news-2 {
	grid-column: 2/3;
	grid-row: 1/2;
}

.news-3 {
	grid-column: 3/4;
	grid-row: 1/2;
}

.news-4 {
	grid-column: 4/5;
	grid-row: 1/2;
}


.news-list li a {
	text-decoration: 0;
	color: #333333;
}

.news-list .news-date {
	font-size: 13px;
	font-weight: 700;
	line-height: 18px;
	font-family: "PT Sans", sans-serif;
}

.news-list .news-title {
	margin: 0;
	padding: 0;
	font-size: 19px;
	font-weight: 700;
	line-height: 26.6px;
	font-family: "PT Sans", sans-serif;
}

.news-list .news-discript {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}


.news-list .news-date, 
.news-list .news-title,
.news-list .news-discript {
	margin-left: 15px;
}
/* news ends */
.page-footer {
 padding: 150px 0 0 0;
 height: 754px;
 width: 1920px;
}

.page-footer .footer-top p {
	margin: 0;
	padding: 0;
}

.page-footer .footer-middle ul {
	margin: 0;
	padding: 0;
}

.footer-top {
	display: grid;
	height: 120px;
	align-items: center;
	grid-template-columns: 304px 272px 100px 272px 187px 162px;
	grid-template-rows: 120px;
	background-color: rgba(61, 52, 139, 0.85);
	color: #ffffff;
	border: 1px solid red;
	padding: 25px 312px;
	font-weight: 700;
	font-size: 16px;
	font-family: "PT Sans", sans-serif;
	line-height: 23px;
}

.adress-info {
	grid-column: 1/2;
	grid-row: 1/2;
}

.footer-logo {
	grid-column: 3/4;
	grid-row: 1/2;
}

.contact-phone {
	grid-column: 5/6;
	grid-row: 1/2;
}

.contact-mail {
	grid-column: 6/7;
	grid-row: 1/2;
}

.footer-middle {
	height: 484px;
	width: 1920px;
	background-color: #3d348b;
	color: #ffffff;
}

.company-legal-info {
	display: grid;
	grid-template-columns: 306px 306px 306px 306px;
	grid-template-rows: 276px;
	gap: 30px;
	list-style: none;
	margin-left: 312px;
}

.company-legal-info ul {
	line-height: 19.6px;
	font-weight: 400;
	font-size: 14px;
	font-family: "PT Sans", sans-serif;
}

.company-legal-info li a {
	text-decoration: none;
	color: #ffffff;
}

.company-legal-info ul {
	list-style: none;
}

.legal-info-blocks li ul li {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	font-family: "PT Sans", sans-serif;
}


.legal-info-1 {
	grid-column: 1/2;
	grid-row: 1/2;
}

.legal-info-2 {
	grid-column: 2/3;
	grid-row: 1/2;
}

.legal-info-3 {
	grid-column: 3/4;
	grid-row: 1/2;
}

.legal-info-4 {
	grid-column: 4/5;
	grid-row: 1/2;
}

.copyright {
	padding-top: 150px;
}






