body {
	margin: 0;
	padding: 0;
	width: 1920px;
	font-family: "PT Sans", sans-serif;
	line-height: 23px;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	color: #333333;
	background-color: #ffffff;
}

.page-header {
	height: 750px;
	border: 1px solid red;
}

.header-top {
	height: 110px;
	width: 1296px;
	padding-bottom: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 312px;
	border: 1px solid green;
	
}

.header-logo {
	width: 180px;
	height: 30px;
}

.condition-list {
	margin: 0;
	padding: 0;
	list-style: none;
	border: 1px solid blue;
}

.main-nav li {
	display: inline-block;
	vertical-align: top;
	margin-right: 30px;
	border: 1px solid red;
}

.main-nav li:last-child {
	margin-right: 0;
}

.main-nav li a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	font-family: "PT Sans", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	color: #000000;
}

.search-area {
	width: 150px;
	border: 1px solid transparent;
	border-bottom-color: rgba(51, 51, 51, 0.2);
}


.header-bottom {
	position: relative;
	height: 750px;
	background: url("img/Rectangle 23.png") no-repeat 50% 50%;
	background-size: cover;
	color: #ffffff;
}

.header-bottom .header-title {
	margin: 0;
}

.header-bottom-left {
	position: absolute;
	top: 180px;
	left: 312px;
	border: 2px solid yellow;
	width: 526px;
	height: 336px;
}

.header-bottom-left .header-title{
	font-family: "PT Sans", sans-serif;
	font-weight: 700;
	font-size: 50px;
	line-height: 70px;
}

.header-bottom-left .title-tip {
	width: 322px;
	font-family: "PT Sans", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 22.4px;
	color: #ffffff;
}

.header-bottom-left .company-about {
	font-weight: 700;
	font-size: 16px;
	line-height: 22.4px;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
}

.header-bottom-left .header-title {
	padding: 0;
	margin: 0;
}

.main-service-list {
	position: absolute;
	display: grid;
	top: 113px;
	right: 312px;
	grid-template-columns: 306px 306px;
	grid-template-rows: 250px 250px;
	gap: 24px;  
	margin-left: 972px;

}

.main-service-list  .service {
	padding: 30px 35px;
	border-radius: 20px;
	font-weight: 700;
	color: #ffffff;
	background-color: #5db7de;
}

.main-service-list  .service h3 {
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 18.2px;
	text-transform: uppercase;
}

.main-service-list  .service p {
	margin: 0;
	font-size: 19px;
	line-height: 26.6px;
	border: 1px solid white;
}

.main-service-list .service-1 {
	grid-column: 1/2;
	grid-row: 1/2;
}

.main-service-list .service-2 {
	grid-column: 2/3;
	grid-row: 1/2;
}

.main-service-list .service-3 {
	grid-column: 1/2;
	grid-row: 2/3;
}

.main-service-list .service-4 {
	grid-column: 2/3;
	grid-row: 2/3;
}



.main-service-list li a {
	text-decoration: none;
	color: #ffffff;
}




/* header ends */
.main-service {
	width: 1296px;
	height: 717px;
	margin-left: 312px;
	border: 1px solid violet;
	padding-top: 150px;
}

.main-service h2 {
	margin: 0;
}

.price-and-conditions a {
	text-decoration: underline dotted;
}